<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Worky</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Worky.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/MainWindow.css" />
    <link rel="stylesheet" href="~/css/TextStyles.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>
<body>
    <header>
    <nav style="background-color:white;padding:15px;box-shadow: 0px 0px 16px grey;">

   <div  style="width:100%; display:grid; grid-template-columns:auto 1fr auto;">

       <div style="grid-column:1;">
           <a href="/Projects/Yourprojects" class="nav-link px-2 link-secondary">Проекты</a>
       </div>
          
          
        

       
        <div class="dropdown text-end" style="padding-right:1em; grid-column:3;">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-.245z"/>
            </svg>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
           
            <li><a class="dropdown-item" href="/Account/Profile">Мой профиль</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/Account/Logout" >Выход</a></li>
          </ul>
        </div>
      </div>
   
    
    </nav>
       
        
       
    </header>

    <div>
        <main role="main" class="pb-3">
            <div class="MainContaineer">
                 @RenderBody()
           
           </div>
             
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Worky - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
