@model Worky.Models.Message

@{
    ViewData["Title"] = "Message";
}

<h1>@Model.Header</h1>

<div>
    
    <hr />
    <div>
        <a>@Model.Content</a>
        <br />
        <a href="@Model.BackUrl">@Model.UrlName</a>
    </div>
    
</div>
<div>
  
</div>
