@page
@model Worky.Pages.DocsModel
@{
}
<a>itsRazor</a>
<a>@Model.ProjectId</a>
<a href="/Project/Index?ProjectId=@Model.ProjectId">К проекту</a>

<br />
@foreach(Worky.Project.Documents.DocIerarhy ir in @Model.model.docIerarhies )
{
    test(ir);
}




@{
    void test(Worky.Project.Documents.DocIerarhy i)
    {
        <a>@i.DocName</a>
        @foreach(Worky.Project.Documents.DocIerarhy ir in i.docIerarhies )
        {
            test(ir);
        }
        <br />
    }
}