
@{
    Layout = "_Layout";
}


<head>
    <link rel="stylesheet" href="~/css/Projects.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/ProjectMenu.css" />
        <link rel="stylesheet" href="~/css/TextStyles.css" />
        <script>
            function OpenProject(id)
            {
                
                location.href='/Project/Index?ProjectId='+id;
                //window.open('/Project/Index?ProjectId='+id);
            }
        </script>
</head>


@model Worky.Models.Project.UserProjectsModel

<div>
    <h1>Ваши проекты</h1>
    <hr />

    <div class="DefGrid">
            <div class="DCard DCardSize DCardPadding">
                <h4>Новый проект</h4>
                <a href="/Projects/AddProject">Нажмите что бы добавить новый проект</a>
            </div>

            @foreach(Worky.Models.Project.ProjectModel pr in Model.UserProject)
            {
                @Html.Partial("ProjectCard",pr);
                 
    
    
            }
    </div>
    
    <h1>Общие проекты</h1>
        <hr />
     <div class="DefGrid">
            

            @foreach(Worky.Models.Project.ProjectModel pr in Model.InvitesProject)
            {
                @Html.Partial("ProjectCard",pr);
               
    
            }
    </div>
</div>