 





@media (max-width: 425px) {
    /* MOBILE */
    .EditCardGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1em;
        padding:5px
    }
}

@media (min-width: 425px) and (max-width: 1024px) {
    /* TABLET */
    .EditCardGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
}

@media (min-width: 1024px) {
    /* DESKTOP */
    .EditCardGrid {
        display: grid;
        grid-template-columns: 1fr 300px;
        gap: 1em;
    }
}