

@{
    ViewData["Title"] = "Pages";
}
@using Worky.Models.Project;
@model Worky.Models.Project.DocumentationModel
 

<h1>Pages</h1>
<style>
     
<head>
    <style>
        .modalWindow{
          
            position: fixed;

            margin: auto;
            z-index: 1;
            left:0;
            right:0;
           
            width: 600px;
            background-color:white;
            
            
            
        }
        <style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
    </style>
    
</head>




 



<div id="WorkSpace">




<a href="/Documentation/Add?pid=@Model.PorjecId&&ParentId=-1">Add new page</a>
    <div style="display:grid; grid-template-columns:1fr 2fr">

    
        <div id="PagesTree">
            @foreach(Worky.Project.Documents.DocIerarhy ir in @Model.docIerarhies)
            {
            @Html.Partial("TreeItem", ir)
            }

    
        </div>
        <div id="docSpace">
            @Html.Partial("DocumentPageView",@Model.SelectedPage)
        </div>
    </div>
</div>










