
@{
    ViewData["Title"] = "ProjectPages";
}

<h1>ProjectPages</h1>
<link rel="stylesheet" href="/css/css/Documentation.css" asp-append-version="true" />
<script src="~/js/Documentation.js">
    
</script>

<button onclick="test()"> click</button>
<body onload=OnLoad()>

    <div class="WorkSpaceGrid" >
        <div>

        </div>
        <div>

        </div>
    </div>
   

</body>