 

@using Worky.Models.DocModels;
@{
    Layout = "_Layout";
}
<head>
    <style>
        .tree-item{
            margin:5px;
          
             
        }
        .tree-item:hover{
            color:blue;
        }
    </style>
</head>
@model DocumentationModel 
@{
    <div style="display:flex; flex-direction:row; padding-bottom:15px">
     <button class="Dbtn" onclick='togleHide()'>Меню</button>
    </div>
     
    <div class="docsGrid">
        <div >
            
            <div id="treeviewMenu" class="treeviewMenu" >
            
            @if (Model.BookModel.StartPage == null)
            {
                <a href="~/Documentation/AddBasePage?bookId=@Model.BookModel.Id">addBasePage</a>
            }
            else
            {
                 @Html.Partial("PageTreeItem",Model.BookModel.StartPage)
            }
             </div>

        </div>
         <div >
            <div>
            
               
             
              </div>
             @if(Model.SelectedPage!=null)
            {
                @Html.Partial("DetailPageView",@Model.SelectedPage)
            }
        </div>
    </div>
    
   
}
<script>
    function togleHide()
    {
        
         let menu=$("#treeviewMenu");
         let dispval= menu.css("display");
         if(dispval=='block')
         {
             menu.css("display","none");
         }
         else{
             menu.css("display","block");
         }
          
        


    }
</script>
