 

@using Worky.Models.DocModels;
@{
    Layout = "_Layout";
}
<head>
    <style>
        .tree-item{
            margin:5px;
          
             
        }
        .tree-item:hover{
            color:blue;
        }
    </style>
</head>
@model DocumentationModel 
@{
    <div style="display:grid; grid-template-columns:auto 3fr; gap:40px;">
        <div >
            @if (Model.BookModel.StartPage == null)
            {
                <a href="~/Documentation/AddBasePage?bookId=@Model.BookModel.Id">addBasePage</a>
            }
            else
            {
                 @Html.Partial("PageTreeItem",Model.BookModel.StartPage)
            }

           
            
        </div>
         <div >
            <div>
            
                @if (Model.SelectedPage != null)
                {
                     <a href="~/DocEdit/Index?PageId=@Model.SelectedPage.Id">edit</a>
                     <a href="~/Documentation/RemovePage?PageId=@Model.SelectedPage.Id">
                        Remove page</a>
                }
             
              </div>
             @if(Model.SelectedPage!=null)
            {
                @Html.Partial("DetailPageView",@Model.SelectedPage)
            }
        </div>
    </div>
    
   
}
