@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Worky.Models.DocModels;
@model DocumentationModel 
@{
    <div style="display:grid; grid-template-columns:1fr 3fr">
        <div >
            @if (Model.BookModel.StartPage == null)
            {
                <a href="~/Documentation/AddBasePage?bookId=@Model.BookModel.Id">addBasePage</a>
            }
            else
            {
                 @Html.Partial("PageTreeItem",Model.BookModel.StartPage)
            }

           
            
        </div>
         <div >
             @if(Model.SelectedPage!=null)
            {
                @Html.Partial("DetailPageView",@Model.SelectedPage)
            }
        </div>
    </div>
    
   
}
