@model Worky.Models.Account.RemindPassModel

@{
    ViewData["Title"] = "SentPass";
}

@{
    Layout = "_Layout_Login";
}

<div class="bd">


<div class="form-signin">
   
<div class="row">
     <div class="DCard">
        <h2>Востановление пароля</h2>
         <hr />
         
        <form asp-action="SentPass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-group_padding">
               
                <input asp-for="Email" class="form-control" placeholder="Укажите имейл" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-group_padding">
                <input type="submit" value="Отправить пароль" class="Dbtn" style="width:100%" />
            </div>
        </form>
    </div>
</div>

</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
